.center_widget {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#graphic, #table h1, #simp_sys {
	margin: 0 auto;
	text-align: center;
	color: white;
}
#graph_array {
	margin: 50px auto;
	text-align: center;
}
#myCanvas {
	background-color: white;
}
.ilk-graph-table {
	width: 50%;
	border: solid 1px #DDEEEE;
	border-collapse: collapse;
	border-spacing: 5px;
	font: normal 13px Arial, sans-serif;
}
.ilk-graph-table th {
	background-color: #DDEFEF;
	border: solid 1px #afdcdc;
	color: #022022;
	padding: 10px;
	text-shadow: 1px 1px 1px #fff;
	width: 10%;
	text-align:center;
}
.ilk-graph-table td {
	color: #022022;
	border: solid 1px #DDEEEE;
	padding: 10px;
	text-shadow: 1px 1px 1px #fff;
	width: 10%;
	text-align:center;
}
.ilk-table {
	width: 50%;
	border: solid 1px #DDEEEE;
	border-collapse: collapse;
	border-spacing: 5px;
	font: normal 13px Arial, sans-serif;
}
.ilk-table th {
	background-color: #DDEFEF;
	border: solid 1px #afdcdc;
	color: #336B6B;
	padding: 10px;
	text-shadow: 1px 1px 1px #fff;
	width: 10%;
	text-align:center;
}
.ilk-table td {
	background-color: #FFFFFF;
	color: #37686d;
	border: solid 1px #DDEEEE;
	padding: 10px;
	text-shadow: 1px 1px 1px #fff;
	width: 10%;
	text-align:center;
}
body {
	/*https://mycolor.space/gradient?ori=to+left+bottom&hex=%23022022&hex2=%2300E3FE&sub=1*/
	//background-image: url("bg.jpg");
	background-image: linear-gradient(to left bottom, #022022, #054b50, #067a85, #04adbf, #00e3fe);
	//background-image: linear-gradient(to left bottom, #001a1c, #304a4c, #637f83, #9bbabd, #d6f8fc);	min-height: 100vh;
}
#simpleh {
	background-image: linear-gradient(to left bottom, #022022, #054b50, #067a85, #04adbf, #00e3fe);
	border-radius: 20px;
	width: 700px;
	height: 130px;
	box-shadow: 1px 1px 50px #022022;
	color: white;
	text-align: center;
	margin: 0 auto;
	padding-top: 90px;
	padding-bottom: 1px;
}
.title {
	letter-spacing: 2px;
	font-weight: bold;
	color: #022022;
	min-width: 220px
}
.nextstep {
	color: white;
	background-color: #022022;
	margin-top: 15px;
	float: right
}
input, select{
	color: white;
	border-radius: 5px;
	background-color: #002729;
}
footer {
	position: absolute;
	bottom: 0;
	width: 99%;
}

footer p {
	color: white;
	text-align: right;
	font-family: monospace, sans-serif;
	font-style: italic;
	font-size: 1.2vw;
	margin: 0 2% 0 0;
}

.ilk-table:hover .iam_pivot {
	background-color: #8cc7c7;
	color: #37686d;
}
html, body {
	background-repeat: round;
}

#myCanvas {

}

li span {
	font-weight: bold
}
table caption {
	font-size: 1.5em;
	font-weight: bolder;
	color: #84bdbb;
	margin-top: 40px;
}
#cyclage {
	font-size: 1.5em;
	font-weight: bolder;
	color: #84bdbb;
	position: absolute;
	transform: translate(-50%, 0);
	margin-bottom: 20px;
	left: 50%;
}
#non_borne, #irrealisable {
	position: absolute;
	transform: translate(-50%, 0);
	margin-bottom: 20px;
	float: none;
	display: none;
	color: white;
	background-color: #022022;
	margin-top: 15px;
	left: 50%;
	font-size: 1.5em;
	text-align: center;
}